<div class="title-panel" >
    <div class="title-panel__background-image"></div>
    <div class="title-panel__content">
      <h1 class="title-panel__title">Discover the colorful world</h1>
      <h2 class="title-panel__title--big">{{bigTitle}}</h2>
      <p class="title-panel__description">Welcome to our travel site, where we help you discover the world's most breathtaking destinations and plan the perfect getaway</p>
      <button class="title-panel__button" (click)="discoverNow()">Discover Now</button>
    </div>
  </div>
  